<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>StoryBooks</title>
</head>

<body>
    
    
    {{> _header}}
    {{> _add_btn}}
    <div class="container" >
        {{{body}}}
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js" 
    integrity="sha512-P4rrEImABBYtBFdmrFPqF8rjh8iiRiupfQ4KLrBCL8dAivLiM2nh+1bJQeMb2ZglmIlGZdfTtgGdXH6H/hGVeg==" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/config.min.js"
    integrity="sha512-vx39WOZZs7s//8GXhSOfI7V/3vQ1MsSEL0lIPoo4RM3GAaK1tQAO6RWK5L+jEEJtsBQOE9zd6tvtaKm7jeZ3Zw==" crossorigin="anonymous"></script>
    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
        M.FormSelect.init(document.querySelector('#status'))
        CKEDITOR.replace('body',  {
            //plugins: 'wysiwygarea, toolbar , basicstyles, link, justify, table, tabletools, emoji, filetools, scayt, easyimage, font, colorbutton, language, codesnippet, uploadimage'
            plugins: 'wysiwygarea, toolbar , basicstyles, link, justify, table, tabletools, scayt, font, colorbutton, language, codesnippet, image, selectall, div, divarea, autoembed, indent, list, print'
           //plugins: 'codesnippet'
       })
       

    </script>
</body>

</html>